page-focusOn {
  *{
    padding: 0;
    margin: 0;
  }
  //ion-navbar{
  //  margin-top: -1px;
  //}
  .segment-button{
    border-style: none !important;
    border-bottom-style:solid !important;
  }

}

